h1{font-size:30pt; font-style:italic; font-family:times;}
body{background-color:Black; color:white;}
textarea{font-size:15pt; background-color:black; color:white; font-style:italic;}
input{background-color:black; color:white; font-style:italic;}